In [2]:
#credit score model notebook

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [4]:
pio.templates.default = "plotly_white"
data = pd.read_csv("C:/Users/imanq/Documents/Programs/GitHub/creditscoremodel/dataset/Credit Score Classification Dataset.csv")
print(data.head())

   Age  Gender  Income            Education Marital Status  \
0   25  Female   50000    Bachelor's Degree         Single
1   30    Male  100000      Master's Degree        Married
2   35  Female   75000            Doctorate        Married
3   40    Male  125000  High School Diploma         Single
4   45  Female  100000    Bachelor's Degree        Married

   Number of Children Home Ownership Credit Score
0                   0         Rented         High
1                   2          Owned         High
2                   1          Owned         High
3                   0          Owned         High
4                   3          Owned         High

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 164 non-null    int64
 1   Gender              164 non-null    object
 2   Income              164 non-null    int64
 3   Education           164 non-null    object
 4   Marital Status      164 non-null    object
 5   Number of Children  164 non-null    int64
 6   Home Ownership      164 non-null    object
 7   Credit Score        164 non-null    object
dtypes: int64(3), object(5)
memory usage: 10.4+ KB
None